   *{
            margin:0;
            padding:0;
            box-sizing:border-box;
            font-family:Arial, sans-serif;
        }

        body{
            background:#f4f4f4;
            display:flex;
            justify-content:center;
            align-items:center;
            height:100vh;
        }

        .todo-container{
            width:400px;
            background:#fff;
            padding:25px;
            border-radius:12px;
            box-shadow:0 4px 10px rgba(0,0,0,0.1);
        }

        h1{
            text-align:center;
            margin-bottom:20px;
            color:#333;
        }

        .todo-input{
            display:flex;
            gap:10px;
            margin-bottom:20px;
        }

        .todo-input input{
            flex:1;
            padding:10px;
            border:1px solid #ccc;
            border-radius:8px;
            outline:none;
        }

        .todo-input button{
            padding:10px 15px;
            border:none;
            background:#4CAF50;
            color:white;
            border-radius:8px;
            cursor:pointer;
        }

        .todo-input button:hover{
            background:#45a049;
        }

        .todo-list{
            list-style:none;
        }

        .todo-list li{
            background:#f9f9f9;
            padding:12px;
            border-radius:8px;
            margin-bottom:10px;
            display:flex;
            justify-content:space-between;
            align-items:center;
        }

        .actions{
            display:flex;
            gap:8px;
        }

        .actions input[type="checkbox"]{
           width:30px;
           height:30px;
           accent-color: green;
        
        }

        .delete-btn{
            text-decoration:none;
            background-color:red;
            border:none;
            padding:6px 10px;
            border-radius:6px;
            color:white;
            cursor:pointer;
        }

        .complete{
            background:#2196F3;
        }

        .delete{
            background:#f44336;
        }

        .actions button:hover{
            opacity:0.8;
        }